:host {
    display: block;
    --accordion-bg: #fff;
}
* {
    margin: 0;
    padding: 0;
    color: #333;
    background: var(--accordion-bg)
}
ul {
    list-style: none;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #ddd;
}
button {
    height: 24px;
    width: 24px;
    border: 0;
    cursor: pointer
}
svg {
    width: 1rem;
    height: 1rem;
}
.content, svg path.closed {
    display: none
}
button:not(.open) svg path.closed {
    display: block
}
slot {
    padding: 0 1rem
}
.content.show {
    display: block;
    border-top: 0
}
.content:last-child {
    padding-bottom: .5rem
}
